@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 206 92% 94%;
    --foreground: 210 10% 23%;
    --card: 0 0% 100%;
    --card-foreground: 210 10% 23%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 10% 23%;
    --primary: 207 88% 68%;
    --primary-foreground: 210 40% 98%;
    --secondary: 206 92% 90%;
    --secondary-foreground: 207 88% 40%;
    --muted: 206 92% 90%;
    --muted-foreground: 210 10% 45%;
    --accent: 261 46% 63%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 206 92% 88%;
    --input: 206 92% 88%;
    --ring: 207 88% 68%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 210 10% 23%;
    --foreground: 206 92% 94%;
    --card: 210 10% 15%;
    --card-foreground: 206 92% 94%;
    --popover: 210 10% 15%;
    --popover-foreground: 206 92% 94%;
    --primary: 207 88% 68%;
    --primary-foreground: 210 10% 15%;
    --secondary: 210 10% 30%;
    --secondary-foreground: 206 92% 94%;
    --muted: 210 10% 30%;
    --muted-foreground: 206 92% 80%;
    --accent: 261 46% 63%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 10% 30%;
    --input: 210 10% 30%;
    --ring: 207 88% 68%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
