@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 88 100% 97%;
    --foreground: 145 17% 23%;
    --card: 93 45% 92%;
    --card-foreground: 145 17% 23%;
    --popover: 93 45% 92%;
    --popover-foreground: 145 17% 23%;
    --primary: 145 21% 30%;
    --primary-foreground: 93 30% 95%;
    --secondary: 93 27% 54%;
    --secondary-foreground: 145 17% 23%;
    --muted: 93 35% 88%;
    --muted-foreground: 145 17% 40%;
    --accent: 63 51% 65%;
    --accent-foreground: 145 17% 23%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 93 35% 80%;
    --input: 93 35% 80%;
    --ring: 145 21% 30%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 145 17% 15%;
    --foreground: 93 30% 95%;
    --card: 145 17% 20%;
    --card-foreground: 93 30% 95%;
    --popover: 145 17% 20%;
    --popover-foreground: 93 30% 95%;
    --primary: 93 27% 54%;
    --primary-foreground: 145 17% 10%;
    --secondary: 145 21% 30%;
    --secondary-foreground: 93 30% 95%;
    --muted: 145 17% 25%;
    --muted-foreground: 93 30% 80%;
    --accent: 63 51% 65%;
    --accent-foreground: 145 17% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 145 17% 25%;
    --input: 145 17% 25%;
    --ring: 93 27% 54%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
